.dropdown.open {
  max-height: 200px;
  visibility: visible;
  opacity: 1;
  width: 100%;
  text-align: end;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .dropdown:not(.open) {
    max-height: 0;
    visibility: hidden;
    opacity: 0;

    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
}
