.dropdown.open {
  visibility: visible;
  opacity: 1;
  width: 100%;
  text-align: end;
  max-height: 200px;
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .dropdown:not(.open) {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
  }
}
