@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fortawesome/fontawesome-svg-core/styles.css';
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Strait');
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display');

:root {
    --font-primary: 'Rubik';
    --font-secondary: 'DM Serif Display';
    --font-tertiary: 'Strait';
    --primary-color: #2F3C55;
    --background-color: #D9D4C1;
}

body {
    background-color: var(--background-color);
}

* {
    font-family: var(--font-primary);
    scrollbar-gutter: stable;
}

h1 {
    font-family: var(--font-secondary);
}

h2 {
    font-family: var(--font-tertiary);
}

p {
    letter-spacing: 0.05rem;
    word-spacing: 0.22rem;
}

*::-webkit-scrollbar {
    width: 8px;
    background: var(--background-color);

}

body::-webkit-scrollbar-track {
    background-color: #1b1c1d;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #484848;
}