.hero {
    background: #4F7D73;
    margin-top: 76px;
    /*
    @media (max-width: 991px) {
        margin-top: 76px;
    }
    */
}

.hero img {
    max-width: none;
    width: 35rem;
    margin-bottom: -100px;
    margin-left: -125px;
}