.hero {
    background: url(../images/texture.png), #4F7D73 repeat;
    margin-top: 60px;

    @media (max-width: 767px) {
        background: #22312E;
    }
}

.hero img {
    max-width: none;
    width: 35rem;
    margin-bottom: -85px;
    margin-left: -150px;
}

.hero h1 {
    @media (min-width: 767px) {
        text-shadow: 2px 3px 0 #2A534F;
    }
}