.scroller {
  width: 100%;
}

.scroller .inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.scroller .wrapper {
  display: flex;
  justify-content: end;
}

.scroller section {
  display: flex;
  justify-content: end;
  animation: swipe var(--speed) linear infinite;
}

.scroller:hover section {
  animation-play-state: paused;
}

.scroller img {
  min-width: 300px;
  height: 9rem;
  object-fit: fill;
  margin-right: 4rem;
  margin-bottom: 0.5rem;
  border-radius: 0.4rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.scroller img:hover {
  transform: scale(1.05);
}

.scroller h2 {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.scroller img:last-of-type {
  padding-left: 0;
}

@keyframes swipe {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translate(-100%);
  }
}